
#carouseltp1 {

    background-color: black;
    

}
#MainContent.content-for-layout{
    padding-bottom: 0 !important;
    
 
  }
#imagen1 {
    opacity: 0.6;
    background-color: black;
    color: black;
    
   
}

#carocarouselExampleControls {
    background-color: black;
    color: black;
    
  
}

#textoSobreCarrusel {
position: absolute;
top: 350px;
left: 170px;
color: white;
padding-left: 650px;
padding-bottom: 100px;
text-align: right;
font-size: 20px;

}

#TextoPresentativo {
    text-align: center;
    justify-content: center;
    

}
#cardText {
    height: 525px;
    

}
#form {
    padding-left: 250px;
    padding-right: 250px;
    

}

u.dotted{
    border-bottom: 3px dotted #999;
    text-decoration: none; 
    
  }
    
.container-fluid {
    padding: 0px;
    }
footer {
    background: #13659c;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(to left, #1c618e 0%, #195c88 50%, #0a293d 100%);
}
.wrapper {
    min-height: 100vh;
    flex-direction: column;
}

/* Estilos para el contenido de la página */
